* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #001242;
    --secondary-color: #00B2CA;
    --accent1-color: #FCF7F8;
    --black-color: #000000;

    --heading-font: "Lilita One", serif;
    --paragraph-font: "Nunito", serif;
}

h1,
h2 {
    font-family: var(--heading-font);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

body {
    font-family: var(--paragraph-font);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #0080802f;

}

#sect img {
    width: 25%;
    padding: 20px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#wireframes img {
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#wireframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;

}

header {
    text-align: center;
}

main {
    width: 900px;
}

div {
    background-color: var(--accent1-color);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 25px;
}