:root {
    --primary-color: #001242;
    --secondary-color: #00B2CA;
    --accent1-color: #FCF7F8;
    --black-color: #000000;

    --heading-font: "Lilita One", serif;
    --paragraph-font: "Nunito", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 3rem;
}

p,
a {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 1rem;
}

h2 {
    font-size: 1.2rem;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    text-align: left;
    margin: .5rem;
}

nav {
    max-width: 550px;
}

header img {
    margin: auto;
    margin-left: 1rem;
}

#menu {
    margin-right: 1rem;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--primary-color);
}

.btns {
    margin: auto;
    margin-right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

#menu:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: var(--primary-color);
    color: #fff;
}

.navigation a {
    display: none;
    margin: 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: var(--primary-color);
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}

header {
    padding: .5rem;
    display: block;
    gap: 1rem;
    max-width: 550px;
    margin: auto;
    background-color: var(--accent1-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-btn {
    padding: .5rem;
    border-radius: 5px;
}

/* From Main to Footer */

.btn {
    text-decoration: none;
    color: var(--primary-color);
    padding: .5rem;
    border-radius: 5px;
    border-color: var(--secondary-color);

}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    cursor: pointer;
}

main,
footer,
#directory {
    max-width: 550px;
    margin: auto;
    padding: 1rem;
}

.hero-btns,
.spotlight-btn,
.weather-btn {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.testimonies h1 {
    text-align: center;
}

.person {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--accent1-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person img {
    border-radius: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
}

.footer-links a {
    text-decoration: none;
    color: var(--black-color);
    font-size: .7rem;
    margin: 0;
}

.text {
    display: flex;
}

.socials {
    display: flex;
    margin-left: 1rem;
}

.socials a {
    margin: .5rem;
    text-decoration: none;
}

.links {
    display: flex;
    border-bottom: solid 2px var(--black-color);
}

.rights p {
    font-size: .8rem;
    margin-top: 0;
}

/*For Discover*/
.sections {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: .3rem;
    padding: 1rem;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

th {
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: .5rem;
    padding: .5rem;
}

th,
td {
    border: 1px solid var(--accent1-color);
    padding: 10px;
    text-align: center;
    font-family: var(--paragraph-font);
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.photos img {
    height: 100%;
    background-color: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#track-visit {
    padding: 20px;
    background-color: var(--accent1-color);
    border: 1px solid var(--secondary-color);
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

/*For For Join Us page*/

.joinmain h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.membership-benefits {
    display: none;
    margin-left: 20px;
}

.membership-benefits li {
    font-family: var(--paragraph-font);
    padding: .2rem;
    font-size: .9rem;
}

.membership-benefits li p {
    font-size: .8rem;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="url"],
.form-container input[type="date"],
.form-container select,
.form-container textarea {
    background-color: var(--accent1-color);
    display: block;
    border: solid 1px gray;
    border-radius: 6px;
    padding: .8rem;
    color: gray;
    width: 100%;
    max-width: 340px;
    appearance: none;
}

.form-container label {
    margin-top: .8rem;
    font-family: var(--paragraph-font);
}

.form-container input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    color: white;
    border-radius: 6px;
    padding: 1rem;
    width: 95%;
    max-width: 400px;
    margin-top: 1rem;
    box-shadow: 1px 1px 4px gray;
}

.form-container input:required {
    border-bottom: solid 5px rgb(228, 160, 160);
}

.form-container input:required:valid {
    border-bottom: solid 5px rgb(141, 204, 133);
}


/*For Directory page page*/
h3 {
    font-size: 1rem;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    margin: 1rem;

}

#connect{
    margin-bottom: 5rem;
}

.mainhead {
    text-align: center;
    padding: 1.5rem;
}

.switch {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

#grid,
#list {
    padding: .7rem;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
}
#grid img, #list img {
    margin-left: 1rem;
}

#grid:hover,
#list:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-weight: bolder;

}


#directory section {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

#directory section p,
#directory section a{
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    align-items: center;
}

.grid section {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    justify-items: center;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-items: left;
    text-align: left;

}

.list section {
    text-align: left;
    margin: 0;
    
}

.list section p {
    margin: 0;
    text-align: left;
    font-size: .8rem;
}

.list section img {
    display: none;
}

footer {
    text-align: left;
}