body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
nav,
footer {
    max-width: 540px;
    margin: 1rem auto;
    padding: 1rem;
}

#menu {
    margin-left: auto;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: _________;
    ________;
    ________;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "x";
}

#menu:hover {
    cursor: pointer;
}

.navigation {
    display: none;
    margin: auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.open {
    display: block;
}

.options {
    margin: auto;
    max-width: 550px;
    background-color: rgb(32, 26, 73);
    display: flex;
    padding: 1rem;
}

header {
    background-color: rgb(234, 146, 58);
    color: white;
    font-weight: 400;
    font-size: x-large;
    display: flex;
    margin-bottom: 0;
}

header img,
header span {
    padding: 1rem;
    margin: auto 1rem;
    margin-left: 0;
}

nav {
    background-color: rgb(32, 26, 73);
    color: white;
    text-align: center;
    padding: 0;
    margin-top: 0;

}

li,
li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    max-width: 640px;
}

ul li {
    padding: 1rem;
    font-weight: 200;
}

main {
    display: grid;
}

main h1 {
    border-bottom: 1px solid #bbb;
    font-weight: 400;
    font-size: x-large;
    text-align: center;
    color: #8a8888;
}

.card {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 1rem auto;
}

.card h2 {
    margin: 0;
    background-color: rgb(234, 146, 58);
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: large;
    color: white;
}

.card p {
    text-align: center;
    font-weight: 200;
}

.card li,
.card a {
    color: rgb(0, 0, 0);

}

.card a {
    text-decoration: underline;
}

.card ul,
.card p {
    padding: 1rem;
}

nav ul li:hover {
    background-color: rgb(1, 70, 144);
    font-weight: 400;
}

.active {
    background-color: rgb(9, 77, 149);
    font-weight: 400;
    color: rgb(27, 27, 66);
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

footer {
    background-color: rgb(234, 146, 58);
    padding: 1rem;
    text-align: center;
    font-weight: 300;
}