@media screen and (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-around;

    }

    body{
        width: 900px;
    }

    header,
    main,
    nav,
    footer {
        max-width: 900px;
    }

    ul {
        margin: auto;
    }

    .navigation {
        display: block;
    }

    .options {
        display: none;
    }

    nav ul li a {
        margin: 1rem;
        padding: 1.2rem;
    }

    header {
        justify-content: center;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }

    .card {
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

}